/* Your CSS Here */

body {
  background-color: black;
}

#calcbody {
  background-color: #b642f4;
  padding: 450px;
  width: 25%;
  margin: 50px;
  border-radius: 5%;
  position: absolute;
  height: 950px;
}

#calcdisplay {
  border: solid white;
  padding: 60px;
  background-color: white;
  position: absolute;
  margin: 100px;
  width: 800px;
  border-radius: 4%
}

#display {
    position: absolute;
    top: 15%;
    margin-left: 150px;
}

.numbers {
  height: 130px;
  width: 130px;
}
#clear {
  height: 130px;
  width: 130px;
  position: absolute;
  top: 81%;
  margin-left: 300px;
}
#enter {
  height: 130px;
  width: 130px;
  position: absolute;
  top: 81%;
  margin-left: 500px;
}
#one {
  position: absolute;
  top: 27%;
  margin-left: 100px;
}
#two {
  position: absolute;
  top: 27%;
  margin-left: 300px;
}
#three{
  position: absolute;
  top: 27%;
  margin-left: 500px;
}
#four {
  position: absolute;
  top: 45%;
  margin-left: 100px;
}
#five {
  position: absolute;
  top: 45%;
  margin-left: 300px;
}
#six {
  position: absolute;
  top: 45%;
  margin-left: 500px;
}
#seven {
  position: absolute;
  top: 63%;
  margin-left: 100px;
}
#eight {
  position: absolute;
  top: 63%;
  margin-left: 300px;
}
#nine {
  position: absolute;
  top: 63%;
  margin-left: 500px;
}
#zero {
  position: absolute;
  top: 81%;
  margin-left: 100px;
}


#add {
  height: 130px;
  width: 170px;
  position: absolute;
  top: 27%;
  margin-left: 720px;
}

#subtract {
  height: 130px;
  width: 170px;
  position: absolute;
  top: 45%;
  margin-left: 720px;
}

#mult {
  height: 130px;
  width: 170px;
  position: absolute;
  top: 63%;
  margin-left: 720px;
}

#div {
  height: 130px;
  width: 170px;
  position: absolute;
  top: 81%;
  margin-left: 720px;
}
